<section style="padding-top: 70px;">
  <div class="container-md">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none text-dark">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/all-logged-symptoms" class="text-decoration-none text-dark">All Appointments</a></li>
        <li class="breadcrumb-item active" aria-current="page">Appointment Details</li>
      </ol>
    </nav>
    <h1>Symptom Logged Details</h1>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <ng-container *ngIf="!symptomsData; else symptomsDetails">
      <div class="alert alert-warning">
        <p class="text-center">No Symptom Logged available, please try again later.</p>
      </div>
    </ng-container>

    <ng-template #symptomsDetails>
      <div *ngFor="let symptom of symptomsData" class="card shadow mb-4">
        <div class="card-body text-center">
          <h5 class="card-title">{{ symptom.f_name }} {{ symptom.l_name }}</h5>
          <p class="card-text"><strong>Scheduled Time:</strong> {{ symptom.log_time }}</p>
          <p class="card-text"><strong>Note:</strong> {{ symptom.note }}</p>
          <button routerLink="/all-appointments" class="btn btn-primary mb-3 float-lg-left"><i class="bi bi-arrow-left"></i> Back</button>
        </div>

      </div>
    </ng-template>
  </div>
</section>
