.logo {
  max-width: 100%; /* Ensure the logo doesn't exceed its container's width */
}
/* Initial state: Transparent background */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent !important; /* Initial transparent background */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Background color on scroll */
.navbar.scrolled {
  background-color: rgb(255, 255, 255) !important;
}

.overlay-header {
  background-color: rgb(255, 255, 255); /* Background color on scroll */
}



/* Set navbar link color to white */
.navbar .nav-link {
  color: #000000 !important;
}

/* Set navbar link hover color to a different color if needed */
.navbar .nav-link:hover {
  color: #fd4040 !important; /* Example hover color */
}
/* Style for the login button */
.navbar .btn-login {
  background-color: #fff; /* Match background to navbar */
  border: 1px solid #fff; /* Border color */
  color: #000000; /* Text color */
  padding: 0.5rem 1rem; /* Padding for the button */
  font-size: 1rem; /* Font size */
  font-weight: 500; /* Font weight */
  border-radius: 0.25rem; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.navbar .btn-login:hover {
  background-color: #fff; /* Background color on hover */
  color: #000; /* Text color on hover */
}
