<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <img src="..//src/assets/images/404-error.png" alt="" />

  <div class="alert alert-danger my-4">
    <h1 class="text-center">Page Not Found</h1>
    <p class="">
      I apologize, but it seems that the page you are looking for does not
      exist. Please check the URL or navigate back to the <a routerLink="/">homepage</a>. If you
      believe this is an error, feel free to contact our support team for
      assistance. Thank you for your understanding.
    </p>
  </div>
</div>
