<section class="edit-appointment-container">
  <div class="container-md">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none text-dark">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/all-appointments" class="text-decoration-none text-dark">All Appointments</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Appointment</li>
      </ol>
    </nav>

    <h1 class="mb-4">Edit Appointment</h1>

    <div class="row justify-content-center">
      <form (ngSubmit)="editAppointment(editForm)" #editForm="ngForm">
        <div class="form-group">
          <input type="hidden" name="user_id" [(ngModel)]="loggedInUserId">
        </div>

        <div class="form-group">
          <label for="carer_id">Carer:</label>
          <select name="carer_id" id="carer_id" [(ngModel)]="appointment.carer_id" class="form-select" required>
            <option value="">Please select a carer</option>
            <option value="{{ carer.id }}" *ngFor="let carer of allCarers">
              {{ carer.category }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="scheduled_time">Scheduled Time:</label>
          <input type="datetime-local" class="form-control" id="scheduled_time" name="scheduled_time" [(ngModel)]="scheduled_time" required>
        </div>

        <div class="form-group">
          <label for="note">Note:</label>
          <textarea class="form-control" id="note" name="note" [(ngModel)]="appointment.note"></textarea>
        </div>

        <div class="form-group">
          <button routerLink="/all-appointments" class="btn btn-primary mb-3 mr-3 float-left"><i class="bi bi-arrow-left"></i> Back</button>
          <button type="submit" class="btn btn-primary float-right">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</section>
