<section class="content-section" style="padding-top: 70px;">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none text-dark">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Logged Symptoms</li>
      </ol>
    </nav>
    <h1>All Logged Symptoms</h1>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <div class="row my-3">
      <div class="col">
        <a routerLink="/log-symptom" class="btn btn-primary">Log Symptom</a>
      </div>
    </div>
  
    <ng-container *ngIf="symptomsData.length === 0; else symptomLogsList">
      <div class="alert alert-warning">
        <p class="text-center">No symptom logs available, please try again later.</p>
      </div>
    </ng-container>
    
    <ng-template #symptomLogsList>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Symptom</th>
            <th>Severity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let symptom of symptomsData">
            <td>{{ symptom.log_time }}</td>
            <td>{{ symptom.name }}</td>
            <td>{{ symptom.severity }}</td>
            <td>
              <div class="d-flex align-items-center">
                <a routerLink="/symptom-tracker/view-symptom/{{ symptom.id }}" class="btn btn-info">View</a>
                <a routerLink="/symptom-tracker/edit-symptom/{{ symptom.id }}" class="btn btn-warning mx-2">Edit</a>
                <button *ngIf="symptom.id !== undefined" class="btn btn-danger" (click)="confirmDeleteSymptomLogged(symptom.id)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    
  </div>
  
  <div class="tip-section">
    <h3>Tips</h3>
  
    <div class="tip-card">
      <h4>Pregnancy Symptoms to Consult Your Doctor About</h4>
      <p>If you're experiencing any of the following pregnancy symptoms, it's important to consult your doctor:</p>
      <ul>
        <li>Vaginal Bleeding: While some spotting can be normal, heavy bleeding may indicate a problem.</li>
        <li>Severe Abdominal Pain: Sharp or persistent abdominal pain could signal an issue like ectopic pregnancy or miscarriage.</li>
        <li>Severe Nausea and Vomiting: Persistent vomiting and inability to keep fluids down may lead to dehydration.</li>
        <li>Decreased Fetal Movement: If you notice a significant decrease in fetal movement, contact your doctor immediately.</li>
        <li>Severe Headaches or Visual Disturbances: These could be signs of preeclampsia, a serious condition.</li>
        <li>Sudden Swelling: Swelling in your hands, feet, or face can be a sign of preeclampsia.</li>
        <li>Difficulty Breathing: Shortness of breath or difficulty breathing could indicate a problem like pulmonary embolism.</li>
        <li>Chills or Fever: High fever during pregnancy can be harmful to both you and your baby.</li>
        <li>Severe Itching: Especially if it's accompanied by nausea, vomiting, loss of appetite, or jaundice, it could indicate a liver problem.</li>
        <li>Persistent Contractions: Regular contractions before 37 weeks could be a sign of preterm labor.</li>
      </ul>
    </div>
  </div>
</section>
