<section class="appointment-form-container">
  <div class="container-md">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none text-dark">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/all-appointments" class="text-decoration-none text-dark">All Appointments</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Appointment</li>
      </ol>
    </nav>

    <h1 class="mb-4">Add Appointment</h1>

    <div class="row justify-content-center">
  <form #appointmentForm="ngForm" (ngSubmit)="addNewAppointment(appointmentForm)">
    <div class="form-group">
      <input type="hidden" name="user_id" [ngModel]="user_id">
    </div>
  
    <div class="form-group">
      <label for="carer_id">Carer:</label>
      <select name="carer_id" id="carer_id" [(ngModel)]="carer_id" class="form-select" required>
        <option value="">Please select a carer</option>
        <option *ngFor="let carer of allCarers" [value]="carer.id">
          {{ carer.category }}
        </option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="scheduled_time">Scheduled Time:</label>
      <input type="datetime-local" class="form-control" id="scheduled_time" name="scheduled_time" [(ngModel)]="scheduled_time" required>
    </div>

    <div class="form-group">
      <label for="note">Note:</label>
      <textarea class="form-control" id="note" name="note" [(ngModel)]="note"></textarea>
    </div>
  
    <button type="submit" class="btn btn-primary">Add Appointment</button>
  </form>
  </div>
  </div>
</section>
