<form (ngSubmit)="editLoggedSymptom(editForm)" #editForm="ngForm">
    <div class="form-group">
        <label for="user_id">User ID:</label>
        <input type="text" class="form-control" id="user_id" name="user_id" [(ngModel)]="symptom.user_id" required>
    </div>
  
    <div class="form-group">
        <label for="symptom_id">Symptom:</label>
        <select name="symptom_id" id="symptom_id" [(ngModel)]="selectedSymptomId" class="form-select" required>
            <option value="">Please select a Symptom</option>
            <option value="{{ symptom.id }}" *ngFor="let symptom of allSymptom">
                {{ symptom.name }}
            </option>
        </select>
    </div>
  
    <div class="form-group">
        <label for="log_time">Scheduled Time:</label>
        <input type="datetime-local" class="form-control" id="log_time" name="log_time" [(ngModel)]="symptom.log_time" required>
    </div>
    
    <div class="form-group">
        <label for="severity">Severity:</label>
        <input type="number" class="form-control" id="severity" name="severity" [(ngModel)]="symptom.severity" required min="1" max="10">
        <!-- Add a validation message for severity -->
        <div *ngIf="editForm.controls['severity'].errors && editForm.controls['severity'].touched" class="text-danger">
            Severity is required and must be between 1 and 10.
        </div>
    </div>
    
  
    <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Save Changes</button>
</form>
