<section class="log-symptom-container">
  <div class="container-md">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/" class="text-decoration-none text-dark">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/all-logged-symptoms" class="text-decoration-none text-dark">All Logged Symptoms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Symptom</li>
      </ol>
    </nav>

    <h1 class="mb-4">Add Symptom</h1>

    <div class="row justify-content-center">
    <form (ngSubmit)="logNewSymptom(symptomLogForm)" #symptomLogForm="ngForm">
      <div class="form-group">
        <input type="hidden" name="user_id" [ngModel]="user_id">
      </div>
  
      <div class="form-group">
        <label for="symptom_id">Symptom:</label>
        <select name="symptom_id" id="symptom_id" [(ngModel)]="symptom_id" class="form-select" required>
          <option value="">Please select a symptom</option>
          <option *ngFor="let symptom of allSymptom" [value]="symptom.id">
            {{ symptom.name }}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="log_time">Log Time:</label>
        <input type="datetime-local" class="form-control" id="log_time" name="log_time" [(ngModel)]="log_time" required>
      </div>
  
      <div class="form-group">
        <label for="severity">Severity (1-10):</label>
        <select name="severity" id="severity" [(ngModel)]="severity" class="form-select" required>
          <option *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]" [value]="num">
            {{ num }}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="note">Note:</label>
        <textarea class="form-control" id="note" name="note" [(ngModel)]="note"></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Log Symptom</button>
    </form>
    </div>
    </div>
  </section>
  