<div class="hero-container">
  <div class="shape-section">
    <div class="overlay">
      <h1 class="text-center">Everything <br> You <br> should be</h1><br>
      <h1><span class="highlight">X</span>PECTING</h1>
    </div>
  </div>
  <div class="video-section">
    <video class="video-background" playsinline autoplay muted loop src="assets/videos/pregnant-woman.mp4" poster=""></video>
  </div>
</div>
<div class="intro-section">
  <h2>For All XPECTING Moms</h2>
</div>
 
<section class="content-section">
  <div class="left-image">
    <img src="assets/images/pregnant-woman-belly.jpg" alt="Pregnant Woman">
  </div>
  <div class="right-info">
    <h1>XPECTING</h1>
    <p>Your Trusted Resource for Maternal Health and Wellness
      At Xpecting, we understand that pregnancy is a unique and transformative journey. Offered by the Ministry of Health, Xpecting is dedicated to supporting expectant mothers with reliable information, compassionate guidance, and comprehensive resources. Our goal is to ensure that you have everything you need to navigate this special time with confidence and ease.</p>

    <p>Our mission is to empower every expecting mother with the knowledge and support necessary for a healthy and fulfilling pregnancy. We are committed to providing accurate, up-to-date information and resources tailored to meet your individual needs.</p>
    <button class="sign-up-btn" routerLink="/login-signup">SIGN UP</button>
  </div>
  <div class="resource-section">
    <h3>Resources</h3>
    <div class="resource-card">
      <h4>National Health Research Conference</h4>
      <a href="https://mohw-nhrc2023.vfairs.com/en/" target="_blank">Learn more →</a>
    </div>
    <div class="resource-card">
      <h4>Wellness Check Calculator</h4>
      <a href="https://ncdip.moh.gov.jm/ncd-screening/ncd-risk-calculator/" target="_blank">View Calculator →</a>
    </div>
    <div class="resource-card">
      <h4>HIV/STI/TB Testing Sites</h4>
      <a href="https://hstu.moh.gov.jm/treatment-sites-and-locations/" target="_blank">View Website →</a>
    </div>
    <div class="resource-card">
      <h4>PharmWatch: Drug Monitoring Form</h4>
      <a href="https://primaryreporting.who-umc.org/JM" target="_blank">Sign Up →</a>
    </div>
  </div>
</section>