<div class="hero-container">
  <div class="shape-section">
    <div class="overlay">
      <h1><span class="highlight">X</span>PECTING</h1><br>
      <p class="text-center"> Empowering Expectant Mother</p>
    </div>
  </div>
  <div class="video-section">
    <video class="video-background" playsinline autoplay muted loop src="assets/videos/pregnant-woman.mp4" poster=""></video>
  </div>
</div>
<div class="intro-section">
  <h2>For All XPECTING Moms</h2>
</div>

<section class="content-section">
  <div class="left-image">
    <img src="assets/images/pregnant-woman-belly.jpg" alt="Pregnant Woman">
  </div>
  <div class="right-info">
    <h1>XPECTING</h1>
    <p>Your Trusted Resource for Maternal Health and Wellness
      At Xpecting, we understand that pregnancy is a unique and transformative journey. Offered by the Ministry of Health, Xpecting is dedicated to supporting expectant mothers with reliable information, compassionate guidance, and comprehensive resources. Our goal is to ensure that you have everything you need to navigate this special time with confidence and ease.</p>

    <p>Our mission is to empower every expecting mother with the knowledge and support necessary for a healthy and fulfilling pregnancy. We are committed to providing accurate, up-to-date information and resources tailored to meet your individual needs.</p>
    <button class="sign-up-btn" routerLink="/login-signup">SIGN UP</button>
  </div>

  <div class="resource-section">
    <h3>Resources</h3>
    <div class="resource-card">
      <h4>National Health Research Conference</h4>
      <a href="https://mohw-nhrc2023.vfairs.com/en/" target="_blank">Learn more →</a>
    </div>
    <div class="resource-card">
      <h4>Wellness Check Calculator</h4>
      <a href="https://ncdip.moh.gov.jm/ncd-screening/ncd-risk-calculator/" target="_blank">View Calculator →</a>
    </div>
    <div class="resource-card">
      <h4>HIV/STI/TB Testing Sites</h4>
      <a href="https://hstu.moh.gov.jm/treatment-sites-and-locations/" target="_blank">View Website →</a>
    </div>
    <div class="resource-card">
      <h4>PharmWatch: Drug Monitoring Form</h4>
      <a href="https://primaryreporting.who-umc.org/JM" target="_blank">Sign Up →</a>
    </div>
  </div>
</section>

<div class="intro-section">
  <h2>Due Date Calculator</h2>
</div>

<section class="content-section calculator-section">
  <div class="calculator-container">
    <h3>Calculate Your Due Date</h3>
    <div *ngIf="alertMessage" class="alert">{{ alertMessage }}</div>
    <form (ngSubmit)="calculateDueDate()">
      <div class="form-group">
        <label for="lastPeriodDate" class="font-weight-bold">Last Period Date:</label>
        <input type="date" id="lastPeriodDate" [(ngModel)]="lastPeriodDate" name="lastPeriodDate" required>
      </div>
      <div class="form-group">
        <label for="cycleLength" class="font-weight-bold">Cycle Length (days):</label>
        <p class="font-weight-bold text-secondary">Some women's cycles are not exactly 28 days. Adjust the cycle length if your cycle is shorter or longer than 28 days.</p>
        <input type="number" id="cycleLength" [(ngModel)]="cycleLength" name="cycleLength" value="28" required>
      </div>
      <button type="submit" class="calculate-btn ">Calculate Due Date</button>
    </form>
    <p *ngIf="dueDate" class="result-text">Expected Due Date: {{ dueDate }}</p>
  </div>
</section>

<div class="intro-section">
  <h2>Prenatal Nutrition</h2>
</div>

<section class="content-section">
  <div class="right-info">
    <p>Your nutritional health, before and during pregnancy, influences the health of your developing baby. Here are some important facts to keep in mind:</p>
    <ul>
      <li><strong>Eat a variety of healthy foods each day:</strong> Vegetables and fruits, whole grain foods, and protein foods are all part of healthy eating during pregnancy and contribute to the nutritional health of you and your baby. Try making half your plate vegetables and fruits at meals and snack times. Choose foods that have little to no added sodium, sugars, or saturated fat. If you are not able to eat a variety of foods due to nausea or vomiting, speak to your health care provider.</li>
      <li><strong>Choose foods with healthy fats instead of saturated fat:</strong> Foods like nuts, seeds, fatty fish, and vegetable oils contain healthy fats, such as omega-3 fatty acids. You need more omega-3 fatty acids when you are pregnant to support the growth of your baby's brain and tissues.</li>
      <li><strong>Choose fish low in mercury:</strong> Vary the types of fish you eat and follow advice from Health Canada to limit your exposure to mercury in fish. Check with your local, provincial, or territorial government for any advisory on local fish.</li>
      <li><strong>Eat a little more food each day than you normally would:</strong> During your second and third trimesters, you need more calories to support the growth of your baby. You need just a little more food each day, such as an extra snack or small meal.</li>
      <li><strong>Make water your drink of choice:</strong> It is important to drink plenty of water while you are pregnant. Water carries nutrients to your body and to your growing baby, takes away waste products from your baby and from you, keeps you cool, helps prevent constipation, and helps control swelling. Make water the easy choice by carrying a reusable water bottle. White milk and unsweetened fortified plant-based beverages are also healthy drink options.</li>
      <li><strong>Be mindful of your caffeine intake:</strong> Many people have caffeine during pregnancy. Caffeine is safe in small amounts. Try to keep your caffeine intake below 300 mg a day, which is about two 8-oz (237 mL) cups of coffee. As caffeine can also be found in other drinks and chocolate, your daily total should include all sources of caffeine. This includes coffee, tea (including black, oolong, white, and green tea), caffeinated soft drinks (for example, cola beverages), energy drinks, chocolate, and herbs such as guarana and yerba mate.</li>
      <li><strong>Be cautious with herbal teas:</strong> Some herbal teas, such as chamomile, are not safe to drink when you are pregnant. Avoid teas with aloe, coltsfoot, juniper berry, pennyroyal, buckthorn bark, comfrey, labrador tea, sassafras, duck root, lobelia, stinging nettle, and senna leaves. Also, avoid kombucha tea. Other herbal teas, such as citrus peel, ginger, orange peel, and rose hip, are considered safe in moderation (two to three cups per day).</li>
      <li><strong>Healthy eating is more than the foods you eat:</strong> Being mindful of your eating habits is also important during pregnancy and can help you make healthier food choices. Take time to eat and limit distractions during mealtime. Plan your meals and snacks. Include culture, food traditions, and taste preferences as part of healthy eating.</li>
    </ul>
  </div>
</section>
