

<section style="padding-top: 30px;">
    <h2>Contact Us</h2>
    <p>Thank you for your interest in contacting Xpecting®. We welcome any comments you might have about the content and design of our website. We love to hear your suggestions!</p>
    
    <h3>Why We Can't Reply</h3>
    <p>Xpecting has lots of general information to help you better understand health issues, but we can't send a personal reply to any inquiry. The best person to give you medical advice, diagnoses, and treatment is your doctor or other qualified medical provider. Getting good care means talking personally with your doctor, who can learn about you and ask you questions, do an exam, and — when needed — order tests. Your doctor also can help guide you to qualified psychologists and other experts in emotional and behavioral issues. The Xpecting website is for educational purposes only.</p>
    <p>Even though we can't reply, we do read all our messages and take your input seriously.</p>
    
    <h3>Is This an Emergency?</h3>
    <p>If you are thinking about suicide or self-harm, are going through abuse or another crisis, or need emergency mental health advice, get help now. You can't wait and hope that things will get better on their own.</p>
    <p>Talk to someone you trust as soon as you can. For help 24 hours a day:</p>
    <ul>
        <li><strong>988 Suicide & Crisis Lifeline</strong>: You can call or text 988. You also can contact them through their <a href="https://988lifeline.org/">website</a>.</li>
        <li><strong>Trevor Lifeline for LGBTQ community</strong>: Call 1-866-488-7386 or text START to 678678. You can also contact them through their <a href="https://www.thetrevorproject.org/">website</a>.</li>
        <li><strong>Crisis Text Line</strong>: Text 741741 in the U.S. or U.K., 686868 in Canada. You can reach out via WhatsApp or message them on Facebook for help. They will match you with a volunteer counselor, who is supervised by a licensed, trained mental health provider.</li>
    </ul>
    <p>These services are staffed by caring people who are trained to help. Calls, texts, and messages are confidential.</p>
    <p>For other emergency help, contact emergency services in your area.</p>
</section>

<section style="padding-top: 70px;">
    <div class="card w-50 p-3">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/d/embed?mid=189r0VHAhgeBU8iBAiRRDn9KT0jZgMEg&ehbc=2E312F&noprof=1" height="180"></iframe>
        </div>
      </div>
   
</section>