<div class="intro-section">
    <h2>About Us</h2>
  </div>
<section class="flex-container">
    <div class="flex-item contact-section">
        <h2>Contact Us</h2>
        <p>Thank you for your interest in contacting Xpecting®. We welcome any comments you might have about the content and design of our website. We love to hear your suggestions!</p>
        
        <h3>Why We Can't Reply</h3>
        <p>Xpecting has lots of general information to help you better understand health issues, but we can't send a personal reply to any inquiry. The best person to give you medical advice, diagnoses, and treatment is your doctor or other qualified medical provider. Getting good care means talking personally with your doctor, who can learn about you and ask you questions, do an exam, and — when needed — order tests. Your doctor also can help guide you to qualified psychologists and other experts in emotional and behavioral issues. The Xpecting website is for educational purposes only.</p>
        <p>Even though we can't reply, we do read all our messages and take your input seriously.</p>
        
        <h3>Is This an Emergency?</h3>
        <p>If you are thinking about suicide or self-harm, are going through abuse or another crisis, or need emergency mental health advice, get help now. You can't wait and hope that things will get better on their own.</p>
        <p>Talk to someone you trust as soon as you can. For help 24 hours a day:</p>
        <ul>
            <li><strong>Mental Health and Suicide Prevention Helpline</strong>: You can call (888) 639-5433. You also can contact them through their <a href="https://www.moh.gov.jm/mental-health-wellness/">website</a>.</li>
            <li><strong>SafeSpot</strong>: Text or call 876-439-5199 or visit <a href="https://safespotja.com/"></a> </li>
        </ul>
        <p>These services are staffed by caring people who are trained to help. Calls, texts, and messages are confidential.</p>
        <p>For other emergency help, contact emergency services in your area.</p>
    </div>
    <div class="flex-item map-section">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/d/embed?mid=189r0VHAhgeBU8iBAiRRDn9KT0jZgMEg&ehbc=2E312F&noprof=1" height="180"></iframe>
        </div>
        <p class="disclaimer text-danger font-weight-bold">Displayed above is a map highlighting potential caregivers you might consider. Please note that these practitioners are not affiliated with or endorsed by us. This information is provided solely for your convenience to explore available options.</p>
    </div>
</section>
