<div class="hero-container">
  <div class="shape-section">
    <div class="overlay">
      <h1><span class="highlight">X</span>PECTING</h1>
      <p class="text-center"> Common Questions</p>
    </div>
  </div>
  <div class="image-section"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="intro-section">
      <h2>Common Questions</h2>
    </div>
    

    <div class="col-lg-6 col-md-12 mx-auto"> 
      <div class="accordion align-content-center" id="accordionExampleY">
      <!-- Section 1 -->
      <div class="accordion-item">
          <h2 class="accordion-header " id="headingOneY">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneY" aria-expanded="true" aria-controls="collapseOneY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Can I drink caffeine during pregnancy?
              </button>
          </h2>
          <div id="collapseOneY" class="accordion-collapse collapse show" aria-labelledby="headingOneY" data-bs-parent="#accordionExampleY">
              <div class="accordion-body">
                  <p>Moderate caffeine consumption is safe during pregnancy. It’s not recommended to drink more than 200 milligrams of caffeine per day. That is about 12 ounces, or 1 cup of regular coffee. Keep in mind that caffeine is also found in tea, chocolate, energy drinks, and soft drinks.</p>
              </div>
          </div>
      </div>
      <!-- Section 2 -->
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwoY">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoY" aria-expanded="false" aria-controls="collapseTwoY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Is it safe to see my dentist during pregnancy?
              </button>
          </h2>
          <div id="collapseTwoY" class="accordion-collapse collapse" aria-labelledby="headingTwoY" data-bs-parent="#accordionExampleY">
              <div class="accordion-body">
                  <p>Yes! Good oral health and control of oral disease protect your overall health and quality of life before, during, and after pregnancy. It also has the potential to reduce the transmission of harmful bacteria to your children. Please see your dentist for routine care during pregnancy. Prevention, diagnosis, and treatment of oral diseases, including needed dental X-rays and use of local anesthesia, are considered safe in pregnancy.</p>
              </div>
          </div>
      </div>
      <!-- Section 3 -->
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingThreeY">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeY" aria-expanded="false" aria-controls="collapseThreeY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>How can being overweight or obese cause problems during pregnancy?
              </button>
          </h2>
          <div id="collapseThreeY" class="accordion-collapse collapse" aria-labelledby="headingThreeY" data-bs-parent="#accordionExampleY">
              <div class="accordion-body">
                  <p>Excess weight during pregnancy is associated with complications, including high blood pressure, preeclampsia, early birth, and gestational diabetes. Obesity during pregnancy also increases the risk of excessive birth weight, birth injury, cesarean birth, and birth defects, especially neural tube defects, heart defects, and cleft palate.</p>
              </div>
          </div>
      </div>
      <!-- Section 4 -->
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingFourY">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourY" aria-expanded="false" aria-controls="collapseFourY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Can I travel during pregnancy?
              </button>
          </h2>
          <div id="collapseFourY" class="accordion-collapse collapse" aria-labelledby="headingFourY" data-bs-parent="#accordionExampleY">
              <div class="accordion-body">
                  <p>Yes. During any long trip, make sure you get up and move at least every 2 hours to help prevent blood clots. Airplane travel is safe, though most airlines will not let you travel after 36 weeks. Please check the U.S. Center for Disease Control (CDC) website for guidance on what areas are safe for travel during pregnancy. If you choose to travel late in pregnancy, there is a chance you may deliver elsewhere. Please let your doctor know about any travel plans and take a copy of your health records with you.</p>
              </div>
          </div>
      </div>
      <!-- Section 5 -->
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingFiveY">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveY" aria-expanded="false" aria-controls="collapseFiveY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>How should I wear my seatbelt in pregnancy?
              </button>
          </h2>
          <div id="collapseFiveY" class="accordion-collapse collapse" aria-labelledby="headingFiveY" data-bs-parent="#accordionExampleY">
              <div class="accordion-body">
                  <p>You should always wear your seatbelt in the car. It is important to wear both the lap and shoulder belt. The lap belt should be low on your hips, below your belly, and fit snugly across your hips and pelvic bone. Place the shoulder belt across your chest (between your breasts) and over the mid-portion of your collar bone (away from your neck). It should fit snugly to protect you and your baby from harm. Never place the shoulder belt under your arm or behind your back. Airbags are designed to be used with seatbelts for extra safety. If you are in a car accident, please call your doctor or nurse midwife right away, even if you are not hurt.</p>
              </div>
          </div>
      </div>
      <!-- Section 6 -->
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingSixY">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixY" aria-expanded="false" aria-controls="collapseSixY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Can I still have sex while pregnant?
              </button>
          </h2>
          <div id="collapseSixY" class="accordion-collapse collapse" aria-labelledby="headingSixY" data-bs-parent="#accordionExampleY">
              <div class="accordion-body">
                  <p>Yes. You can safely engage in intercourse throughout pregnancy unless you have bleeding, early labor, pain with intercourse, ruptured membranes, or your doctor recommends avoiding sex. Different hormone levels and pregnancy symptoms, like nausea and tiredness, can temporarily reduce your sex drive.</p>
              </div>
          </div>
      </div>
      <!-- Section 7 -->
      <div class="accordion-item">
          <h2 class="accordion-header" id="headingSevenY">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSevenY" aria-expanded="false" aria-controls="collapseSevenY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Can I continue to work during pregnancy?
              </button>
          </h2>
          <div id="collapseSevenY" class="accordion-collapse collapse" aria-labelledby="headingSevenY" data-bs-parent="#accordionExampleY">
              <div class="accordion-body">
                  <p>For most patients, the answer is yes. Most people can continue to work throughout their pregnancy without any issues. If you're having a hard time fulfilling your work responsibilities due to the discomforts of pregnancy, please let your care team know.</p>
                  <p>Keep this advice in mind:</p>
                  <ul>
                      <li>If you are pregnant and work at a desk or on a computer, take frequent breaks, get up and walk around once an hour, maintain good posture while sitting, and try not to slump or slouch.</li>
                      <li>Jobs that require standing for long periods can cause back and leg pain. If you have to stand, keep your feet slightly apart, avoid locking your knees, keep your pelvis tucked in, and take breaks often. Ask if you can sit on a tall stool rather than stand. Wear good, comfortable, well-fitted, and low-heeled shoes.</li>
                      <li>If your job requires heavy lifting, pulling, pushing, or other physical labor, talk with your care team about whether it is safe to continue.</li>
                      <li>If you work with chemicals, radiation, heavy metals, gases, or biological agents, you may need to take extra precautions during pregnancy.</li>
                      <li>If your job requires travel, try to schedule it during the middle of your pregnancy (between weeks 14 and 28). This is the safest time for travel and a time when early pregnancy symptoms have hopefully faded. Air travel is not recommended after 36 weeks of pregnancy.</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>


  